.hero {
  height: 750px;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.hero__text {
  position: relative;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h1 {
    font-weight: 300;
    font-size: 3.5rem;
    color: #fff;
  }
  span {
    font-weight: 300;
    font-size: 2.5rem;
  }
}

.span__border {
  border-left: 2rem solid #fff;
  padding-left: 1rem;
  background-color: rgba(255, 255, 255, 0.048);
}

.fancy {
  font-size: 5rem !important;
  font-weight: 900 !important;
  font-style: italic;
  letter-spacing: 1rem;
}

.video {
  position: absolute;
  height: 750px;
  right: 0;
  left: 0;
  margin: 0 auto;
  border-radius: 4px;
}
