.mosaic {
  margin: 0 auto;
  max-width: 1300px;
  padding: 24px 24px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 24px;
}

.tile:nth-child(1) {
  grid-area: 4 / 5 / 7 / 7;
  background-image: url("../../images/tile2.jpg");
  background-size: cover;
  background-position: center 0;
}
.tile:nth-child(2) {
  grid-area: 4 / 1 / 7 / 5;
  background-image: url("../../images/shoes.jpg");
  background-size: cover;
  background-position: center bottom;
}
.tile:nth-child(3) {
  grid-area: 1 / 1 / 4 / 3;
  background-image: url("../../images/tile3.jpg");
  background-size: cover;
  background-position: center 0;
}
.tile:nth-child(4) {
  grid-area: 1 / 3 / 4 / 7;
  background-image: url("../../images/tile4.jpg");
  background-size: cover;
  background-position: center 0;
}

.tile {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 500px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  border: 4px solid #fff;
  border-radius: 4px;
  gap: 1.5rem;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.35);
  }
  h1 {
    position: relative;
    font-size: 2.5rem;
    color: #fff;
    letter-spacing: 0.5rem;
    font-style: italic;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0 auto;
  }
  button {
    margin: 0 auto;
  }
  button,
  button::after {
    width: 20rem;
    height: 3rem;
    font-size: 2rem;
    font-weight: 400;
    background: linear-gradient(45deg, transparent 5%, crimson 5%);
    border: none;
    color: #fff;
    letter-spacing: 3px;
    text-transform: uppercase;
    box-shadow: 6px 0px 0px #ffffff;
    outline: transparent;
    position: relative;
  }

  //Animation Slices for glitch
  $slice0: inset(50% 50% 50% 50%);
  $slice1: inset(80% -6px 0 0);
  $slice2: inset(50% -6px 30% 0);
  $slice3: inset(10% -6px 85% 0);
  $slice4: inset(40% -6px 43% 0);
  $slice5: inset(80% -6px 5% 0);

  button::after {
    content: "SHOP NOW";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(
      45deg,
      transparent 3%,
      #00e6f6 3%,
      #00e6f6 5%,
      crimson 5%
    );
    text-shadow: -3px -3px 0px #f8f005, 3px 3px 0px #00e6f6;
    clip-path: $slice0;
  }
  button:hover::after {
    animation-name: glitch;
    animation-duration: 1s;
    animation-timing-function: steps(2, end);
  }
  button:hover {
    cursor: pointer;
  }

  @keyframes glitch {
    0% {
      clip-path: $slice1;
      transform: translate(-20px, -10px);
    }
    10% {
      clip-path: $slice3;
      transform: translate(10px, 10px);
    }
    20% {
      clip-path: $slice1;
      transform: translate(-10px, 10px);
    }
    30% {
      clip-path: $slice3;
      transform: translate(0px, 5px);
    }
    40% {
      clip-path: $slice2;
      transform: translate(-5px, 0px);
    }
    50% {
      clip-path: $slice3;
      transform: translate(5px, 0px);
    }
    60% {
      clip-path: $slice4;
      transform: translate(5px, 10px);
    }
    70% {
      clip-path: $slice2;
      transform: translate(-10px, 10px);
    }
    80% {
      clip-path: $slice5;
      transform: translate(20px, -10px);
    }
    90% {
      clip-path: $slice1;
      transform: translate(-10px, 0px);
    }
    100% {
      clip-path: $slice1;
      transform: translate(0);
    }
  }
}

@media (max-width: 950px) {
  .grid {
    display: block;
  }
  .tile {
    margin-bottom: 1rem;
  }
}
