.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  padding: 1rem 2rem;
  flex-wrap: wrap;
  height: fit-content;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  margin: 0 auto;
}

.logo {
  font-size: 2.5rem;
  font-weight: 600;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
}

.nav__links {
  padding: 1rem;
  font-size: 1rem;
  a {
    padding: 1rem;
    margin: 1rem;
    &:hover {
      border-bottom: 3px solid rgb(255, 0, 0);
    }
  }
}

.nav__items {
  display: flex;
  .nav__item {
    display: flex;
    align-items: center;
    padding: 1rem;
    margin: 0 0.5rem;
    cursor: pointer;
    svg {
      font-size: 1.5rem;
      margin: 0 1rem;
    }
  }
}

.nav__mobile {
  display: none;
}
