.footer {
  display: flex;
  flex-direction: column;
  max-width: 1300px;
  text-align: center;
  margin: 0 auto;
  color: #fff;
  padding: 1rem;
  h1 {
    font-size: 2.5rem;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    font-weight: 400;
  }
}

.line {
  border: 1px solid #3b3b3b;
  width: 100%;
}

.newsletter {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  gap: 50px;
  @media (max-width: 767px) {
    gap: 24px;
    flex-direction: column;
  }
}

.social-media {
  display: flex;
  align-items: center;
  .icon {
    font-size: 1.5rem;
    color: #fff;
    margin: 0 0.5rem;
  }
}

.email {
  display: flex;
  align-items: center;
  span {
    text-align: center;
    margin: 1rem;
  }
  input {
    outline: none;
    border: none;
    padding: 0 0.5rem;
  }
}

.email-input {
  display: flex;
  border: 1px solid #fff;
  button {
    display: flex;
    padding: 1rem;
    align-items: center;
    background-color: #000;
    color: #fff;
    outline: none;
    border: none;
    cursor: pointer;
  }
}

.copyright {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: rgb(189, 189, 189);
  gap: 12px;
  span {
    a {
      margin: 0 0.5rem;
      color: #fff;
      text-decoration: underline;
    }
  }
}
